@import url(http://fonts.googleapis.com/css?family=Open-Sans);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 17px;
  line-height: 1.7em;
  font-family: "Open Sans", Georgia, serif;
  background-color: #F1F1F1;
}

.contact-bckg {
  background-color: rgba(229, 229, 229, 0.31);
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

.contact {
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}

header {
  background-color: #fff;
  border: 1px solid #E5E5E5;
}

header h3 {
  margin: 0.5em 1px 0.3em 1em;
  color: #CA271C;
  font-weight: 600;
}

header h3:nth-child(2) {
  color: #217AC0;
  margin-left: 0.1em;
}

header p {
  font-size: 11px;
}

nav {
  border-top: 1px solid #E5E5E5;
}

nav ul {
  background-color: #fff;
  padding: 0.2em 0 0.2em 0 !important;
}

nav li {
  margin-right: 0.5em;
  padding: 15px;
  list-style-type: none;
  text-align: center !important;
}

nav li:nth-child(3) {
  margin-right: 0;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: full-width;
  font-weight: 100 !important;
}

section {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  padding: 0.3em 0 0.3em 0;
}

.blank {
  min-height: 70vh;
  background: #F1F1F1 !important;
}

footer {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  padding: 0.3em 0 0.3em 0;
}

footer p {
  color: black;
}

@media (max-width: 576px) {
  footer {
    flex-direction: column !important;
    text-align: center;
  }
}

.header-bckg {
  background-color: #F1F1F1;
}

.nav-bckg {
  background-color: #F1F1F1;
}

.section-bckg {
  background-color: #F1F1F1;
  margin-top: 2em !important;
}

.footer-bckg {
  background-color: #217ACB;
}
