

// Header
$header-color: #CA271C
$header-col-p: #fff
$header-bckg: #F1F1F1
$header-bckg-in: #fff

// NavBar

$nav-color: black
$nav-color-hover: #CA271C

$nav-bckg-hover: #fff
$nav-bckg: #F1F1F1
$nav-bckg-in: #fff


$bckg: #F1F1F1
// Section

$section-color: black
$section-bckg: #F1F1F1
$section-bckg-in: #fff

// Footer
$footer-color: black
$footer-bckg: #217ACB
$footer-bckg-in: $header-bckg-in


// Borders
$header-border: #E5E5E5
$nav-border: $header-border
$section-border: $header-border
$footer-border: $header-border

@import url(http://fonts.googleapis.com/css?family=Open-Sans)

@mixin padd
  padding: 0.3em 0 0.3em 0

*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  margin: 0 auto
  padding: 0 auto
  // Font Typografy
  font-style: normal
  font-weight: normal
  font-stretch: normal
  font-size: 17px
  line-height: 1.7em
  font-family: "Open Sans", Georgia, serif

  background-color: $bckg

.contact-bckg
  background-color: rgba(#E5E5E5, 0.31)
  border-left: 1px solid #E5E5E5
  border-bottom: 1px solid #E5E5E5
  border-right: 1px solid #E5E5E5

.contact
  color: black
  font-weight: bold
  font-size: 14px
  text-align: right

header
  background-color: $header-bckg-in
  border: 1px solid $header-border
  // margin-top: 1em !important

  h3
    margin: 0.5em 1px 0.3em 1em
    color: $header-color
    font-weight: 600

  h3:nth-child(2)
    color: #217AC0
    margin-left: 0.1em

  p
    font-size: 11px

nav
  // padding: 3px 0 0 0
  // background-color: #2B4162
  // background-position: center
  border-top: 1px solid #E5E5E5



  ul
    background-color: $nav-bckg-in
    padding: 0.2em 0 0.2em 0 !important

    // &::after
    //   content: ("")
    //   padding-right: -100px

  li
    // border: 0.1px solid #E5E5E5

    margin-right: 0.5em
    padding: 15px

    list-style-type: none
    text-align: center !important

  li:nth-child(3)
    margin-right: 0

  a
    color: $nav-color
    text-decoration: none
    text-transform: full-width
    font-weight: 100 !important

    // &:hover
    //   color: $nav-color-hover
    //   background-color: $nav-bckg-hover

section
  background-color: $section-bckg-in
  border: 1px solid $section-border

  @include padd

.blank
  min-height: 70vh
  background: $section-bckg !important

footer
  background-color: $footer-bckg-in
  border: 1px solid $footer-border

  @include padd
  p
    color: $footer-color

@media (max-width: 576px)
  footer
    flex-direction: column !important
    text-align: center

.header-bckg
  background-color: $header-bckg

.nav-bckg
  background-color: $nav-bckg

.section-bckg
  background-color: $section-bckg
  margin-top: 2em !important

.footer-bckg
  background-color: $footer-bckg
